.sub-nav {
    list-style: inherit;
}
.sub-nav li a {
    color: #8B91A0;
}
.sub-nav li.active a, .sub-nav li.active {
    color: white !important;
}
.popover{
    width: 660px;
    background: #FFCDCD !important;
    left: 0px !important;
}
.popover-title{
	display: none;
}
.popover.right .arrow:after{
	border-right-color: #FFCDCD !important;
	z-index: 99999999 !important;	
}
.popover.top .arrow:after{
	border-top-color: #FFCDCD !important;
}
.form-control:focus{
    border-color: #66AFE9 !important;
}
.btn-group.open .dropdown-toggle {
    border-radius: 6px !important;
    -webkit-box-shadow: inset 0 3px 5px rgba(228, 221, 221, 0.125) !important;
    box-shadow: inset 0 3px 5px rgba(199, 179, 179, 0.125) !important;
}
.tooltip{
    left: 15px !important;
    text-align: left !important;
}
.tooltip-inner{
    text-align: left !important;
}