 <form name="password_verifier" ng-submit="verify_password(orig_password)">
		 	
<div class="modal-header">
    <h3>Please Enter you password to verify</h3>
</div>
<div class="modal-body" style="background:transparent"> 
	<input type="password" class="form-control" name="orig_password" ng-model="orig_password" tooltip="{{verify_message}}" tooltip-trigger="focus"> 
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
	<input type="submit" class="btn btn-lg btn-success" value="Submit">
</div> 
</form>